@charset "UTF-8";

    header{
    	width : 1450px;
        height: 200px;
        margin: 0 auto;
    }
    
    #logo {
        top: 23px;
        left: 20px;
    }

    #top_menu {
        top: 20px;
        right: 10px;
    }

    .top{
        margin: 5px;
    }

    #serch {
        top: 60px;
        left: 220px;
    }

    .serch {
        width: 340px;
        height: 25px;
    }

    .ser_button {
        width: 60px;
        height: 30px;
    }

    #menu{
        top: 110px;
        font-size:20px;
    }
    .menu{
        display: inline;
        margin-left: 70px ;
    }