.container {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.container img {
	width: 350px;
	height: 350px;
	margin: 10px;
}

.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}

.modal_wrap {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	z-index: 2;
}

#best {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.bestboard {
	display: inline-block;
}

.bestphoto {
	width: 540px;
	height: 400px;
	text-align: center;
	margin: 5px;
}